{
  "openapi": "3.1.0",
  "info": {
    "title": "ADH Backend",
    "version": "0.0.0",
    "description": "Generated from the Drizzle schema. CRUD routes are derived per table (/<schema>/<resource>); the non-CRUD surface (auth, oauth, chat, registry, customer, storage, search, messaging, notifications, and more) is hand-written in src/openapi/paths/* and kept in sync with the routes by a drift guard."
  },
  "tags": [
    {
      "name": "access"
    },
    {
      "name": "account"
    },
    {
      "name": "auth"
    },
    {
      "name": "billing"
    },
    {
      "name": "blocks"
    },
    {
      "name": "bookmarks"
    },
    {
      "name": "bucket"
    },
    {
      "name": "chat"
    },
    {
      "name": "community"
    },
    {
      "name": "contacts"
    },
    {
      "name": "content"
    },
    {
      "name": "customer"
    },
    {
      "name": "discussion"
    },
    {
      "name": "document"
    },
    {
      "name": "ecosystem"
    },
    {
      "name": "follows"
    },
    {
      "name": "friends"
    },
    {
      "name": "gamification"
    },
    {
      "name": "integration"
    },
    {
      "name": "integrations"
    },
    {
      "name": "interactions"
    },
    {
      "name": "messaging"
    },
    {
      "name": "mfa"
    },
    {
      "name": "monitoring"
    },
    {
      "name": "notes"
    },
    {
      "name": "notifications"
    },
    {
      "name": "oauth"
    },
    {
      "name": "persona"
    },
    {
      "name": "persona_memory"
    },
    {
      "name": "personal"
    },
    {
      "name": "processing"
    },
    {
      "name": "project"
    },
    {
      "name": "public"
    },
    {
      "name": "registry"
    },
    {
      "name": "search"
    },
    {
      "name": "settings"
    },
    {
      "name": "storage"
    },
    {
      "name": "system"
    },
    {
      "name": "team"
    },
    {
      "name": "themes"
    },
    {
      "name": "tokens"
    },
    {
      "name": "usage"
    }
  ],
  "servers": [
    {
      "url": "https://api.agenticdeveloperhub.com",
      "description": "production"
    },
    {
      "url": "https://testing.api.agenticdeveloperhub.com",
      "description": "testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "email",
          "name",
          "avatarUrl",
          "slug",
          "publicProfileEnabled",
          "capabilities"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "publicProfileEnabled": {
            "type": "boolean",
            "description": "Whether the public profile card is visible at /public/users/:slug"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque refresh token (rotated on use)"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "RefreshResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token (Bearer credential)"
          },
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "MfaChallenge": {
        "type": "object",
        "required": [
          "mfaRequired",
          "token",
          "methods"
        ],
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "token": {
            "type": "string",
            "description": "Short-lived MFA pending token"
          },
          "methods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "sms",
                "totp",
                "webauthn",
                "recovery"
              ]
            },
            "description": "Second factors the user can satisfy"
          }
        }
      },
      "ApiToken": {
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "createdAt",
          "expiresAt",
          "lastUsedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars, for display"
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "scope": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "REST path prefixes this token may reach (e.g. [\"/content/markdown\"], optional \":read\" suffix, \"*\" = all). null = legacy curated-only."
          }
        }
      },
      "ApiTokenCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiToken"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "The raw token value — shown exactly once"
              }
            }
          }
        ]
      },
      "AiProcessingWebhookEndpoint": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "customerId",
          "url",
          "eventTypes",
          "active",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem that owns this endpoint"
          },
          "customerId": {
            "type": "string",
            "description": "User who registered the endpoint"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS-only delivery target URL"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed event types (e.g. job.succeeded, job.failed)"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the endpoint receives deliveries"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp of last modification"
          }
        }
      },
      "AiProcessingWebhookEndpointCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AiProcessingWebhookEndpoint"
          },
          {
            "type": "object",
            "required": [
              "secret"
            ],
            "properties": {
              "secret": {
                "type": "string",
                "description": "whsec_-prefixed Standard Webhooks signing secret — returned exactly once. Store it; it cannot be retrieved again."
              }
            }
          }
        ]
      },
      "AiProcessingWebhookDelivery": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "endpointId",
          "eventId",
          "eventType",
          "payload",
          "status",
          "attempts",
          "maxAttempts",
          "nextAttemptAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string"
          },
          "endpointId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "description": "pending | delivered | failed | dead"
          },
          "attempts": {
            "type": "integer"
          },
          "maxAttempts": {
            "type": "integer"
          },
          "nextAttemptAt": {
            "type": "string"
          },
          "responseStatus": {
            "type": "integer",
            "nullable": true
          },
          "lastError": {
            "type": "string",
            "nullable": true
          },
          "deliveredAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AiProcessingClaimedJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "payload",
          "claimedAt",
          "leaseExpiresAt",
          "leaseToken"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Arbitrary job-specific input"
          },
          "claimedAt": {
            "type": "string",
            "description": "Drizzle-read timestamp of when the job was claimed"
          },
          "leaseExpiresAt": {
            "type": "string",
            "description": "Drizzle-read timestamp when the lease expires"
          },
          "leaseToken": {
            "type": "string",
            "description": "Opaque lease token required for heartbeat / complete / fail"
          }
        }
      },
      "AiProcessingJob": {
        "type": "object",
        "required": [
          "id",
          "jobType",
          "targetKind",
          "targetId",
          "status",
          "priority",
          "attempts",
          "maxAttempts",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "jobType": {
            "type": "string",
            "description": "Discriminator for worker routing (e.g. categorize_and_tag)"
          },
          "targetKind": {
            "type": "string",
            "description": "Namespace of the target entity (e.g. content.markdown)"
          },
          "targetId": {
            "type": "string",
            "description": "UUID of the target entity"
          },
          "status": {
            "type": "string",
            "description": "Current lifecycle status (queued | claimed | succeeded | dead)"
          },
          "priority": {
            "type": "integer",
            "description": "Higher value = claimed first; default 0"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of claim attempts so far"
          },
          "maxAttempts": {
            "type": "integer",
            "description": "Maximum allowed claim attempts before dead-lettering"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the job was enqueued"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last status transition"
          }
        }
      },
      "TokenPrincipal": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "description",
          "prefix",
          "rdid",
          "bucketRdid",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars of the secret, for display"
          },
          "rdid": {
            "type": "string",
            "description": "reverse-domain id, e.g. token.<owner-slug>.<name>"
          },
          "bucketRdid": {
            "type": "string",
            "description": "the token’s own isolated bucket, e.g. storage.<owner-slug>.<name>"
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "TokenPrincipalCreated": {
        "type": "object",
        "required": [
          "id",
          "rdid",
          "slug",
          "description",
          "prefix",
          "bucketRdid",
          "token"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "rdid": {
            "type": "string",
            "description": "reverse-domain id, e.g. token.<owner-slug>.<name>"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "prefix": {
            "type": "string",
            "description": "Non-secret leading chars of the secret, for display"
          },
          "bucketRdid": {
            "type": "string",
            "description": "the token’s own isolated bucket, e.g. storage.<owner-slug>.<name>"
          },
          "token": {
            "type": "string",
            "description": "the raw `adh_…` secret — shown once, never again"
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "required": [
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "URI identifying the problem type; 'about:blank' when unspecified"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary of the problem type"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code, duplicated in the body"
          },
          "detail": {
            "type": "string",
            "description": "Explanation specific to this occurrence"
          },
          "instance": {
            "type": "string",
            "description": "URI reference for this occurrence (the request path)"
          }
        }
      },
      "IntegrationConnection": {
        "type": "object",
        "required": [
          "id",
          "provider",
          "serviceType",
          "status",
          "displayName",
          "username",
          "externalAccountId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "provider": {
            "type": "string",
            "description": "Provider slug (e.g. google-calendar, github)"
          },
          "serviceType": {
            "type": "string",
            "description": "Service within the provider (e.g. calendar)"
          },
          "status": {
            "type": "string",
            "description": "active | error | revoked | pending"
          },
          "displayName": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "externalAccountId": {
            "type": "string",
            "description": "Provider-side account id"
          },
          "lastSyncAt": {
            "type": "string",
            "nullable": true,
            "description": "Last successful sync (null = never)"
          },
          "lastError": {
            "type": "string",
            "nullable": true,
            "description": "Last recorded sync error"
          },
          "createdAt": {
            "type": "string"
          },
          "syncSettings": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Caller-tunable sync settings (gmailLabelIds / redditSubreddits / …) — non-secret, returned so settings forms can prefill instead of blind-overwriting."
          }
        }
      },
      "IntegrationProvider": {
        "type": "object",
        "required": [
          "providerId",
          "displayName",
          "authMethod",
          "serviceTypes",
          "capabilities",
          "defaultPollIntervalMs",
          "subtitle",
          "description",
          "links"
        ],
        "properties": {
          "providerId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "authMethod": {
            "type": "string",
            "enum": [
              "oauth",
              "oauth_instance",
              "plaid_link",
              "api_key",
              "app_password"
            ]
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "read | write | auth"
          },
          "defaultPollIntervalMs": {
            "type": "integer",
            "description": "Default minimum sync interval (ms)"
          },
          "configFields": {
            "type": "array",
            "description": "For api_key providers: declarative config/credential fields, rendered + validated identically at ecosystem and user scope (absent for OAuth-style providers).",
            "items": {
              "type": "object",
              "required": [
                "key",
                "label",
                "secret",
                "required"
              ],
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "secret": {
                  "type": "boolean"
                },
                "required": {
                  "type": "boolean"
                },
                "placeholder": {
                  "type": "string"
                }
              }
            }
          },
          "subtitle": {
            "type": "string",
            "description": "Short human category for the picker list + filter (e.g. Email, Social)"
          },
          "description": {
            "type": "string",
            "description": "What the service is and what enabling it does"
          },
          "links": {
            "type": "array",
            "description": "Out-links for the info card (homepage / docs / \"get your keys\")",
            "items": {
              "type": "object",
              "required": [
                "label",
                "url"
              ],
              "properties": {
                "label": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "IntegrationGlobalConfig": {
        "type": "object",
        "required": [
          "providerId",
          "config",
          "hasSecret"
        ],
        "properties": {
          "providerId": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Non-secret config: clientId, scopes, URLs, endpoints, credentialStyle"
          },
          "hasSecret": {
            "type": "boolean",
            "description": "Whether a client secret is stored (the value is never returned)"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IntegrationProviderConfig": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "providerId",
          "name",
          "rdid",
          "config",
          "hasSecret"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem id (the RLS owner)"
          },
          "providerId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Human-facing instance name (drives the rdid leaf)"
          },
          "rdid": {
            "type": "string",
            "description": "The reverse-domain id integration.<ecosystem-slug>.<name-slug> (addressable)"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Non-secret config: clientId, scopes, URLs, endpoints, credentialStyle"
          },
          "hasSecret": {
            "type": "boolean",
            "description": "Whether a client secret is stored (the value is never returned)"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "IntegrationConnectRequest": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "code",
              "redirectUri",
              "state"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "oauth"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "code": {
                "type": "string",
                "description": "OAuth authorization code"
              },
              "redirectUri": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "description": "The HMAC-signed state returned by the auth-url endpoint (CSRF)"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "fields"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "api_key"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "The provider's declared config fields (configFields), keyed by field key; validated + split into the secret vs non-secret config against the spec."
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "identifier",
              "password"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "app_password"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "identifier": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "instanceUrl": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "publicToken"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "plaid_link"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "publicToken": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "providerId",
              "serviceType",
              "ecosystemId",
              "code",
              "state"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "oauth_instance"
                ]
              },
              "providerId": {
                "type": "string"
              },
              "serviceType": {
                "type": "string"
              },
              "ecosystemId": {
                "type": "string",
                "description": "Target ecosystem id (the caller must manage it)"
              },
              "code": {
                "type": "string"
              },
              "state": {
                "type": "string"
              }
            }
          }
        ]
      },
      "IntegrationActionRequest": {
        "oneOf": [
          {
            "type": "object",
            "description": "actionType=send — an outbound email; at least one body is required",
            "required": [
              "to",
              "subject"
            ],
            "properties": {
              "to": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "cc": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "bcc": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subject": {
                "type": "string"
              },
              "bodyText": {
                "type": "string"
              },
              "bodyHtml": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "description": "actionType=post — an outbound social post; requires text or media",
            "properties": {
              "text": {
                "type": "string"
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "altText": {
                      "type": "string"
                    }
                  }
                }
              },
              "replyTo": {
                "type": "string"
              }
            }
          },
          {
            "type": "object",
            "description": "actionType=sms — an outbound text message (Twilio-style)",
            "required": [
              "to",
              "body"
            ],
            "properties": {
              "to": {
                "type": "string",
                "description": "E.164 phone number (e.g. +15551234567)"
              },
              "body": {
                "type": "string",
                "minLength": 1
              }
            }
          },
          {
            "type": "object",
            "description": "actionType=submit — a Reddit-style subreddit submission; exactly one of url (link post) or non-empty text (self post) is required (an empty-string text counts as absent)",
            "required": [
              "subreddit",
              "title"
            ],
            "properties": {
              "subreddit": {
                "type": "string",
                "pattern": "^[A-Za-z0-9_]{2,21}$",
                "description": "Subreddit name without the r/ prefix"
              },
              "title": {
                "type": "string",
                "maxLength": 300
              },
              "url": {
                "type": "string",
                "description": "Link post target (mutually exclusive with text)"
              },
              "text": {
                "type": "string",
                "description": "Self-post body (mutually exclusive with url)"
              }
            }
          },
          {
            "type": "object",
            "description": "actionType=comment — a Reddit reply (reuses the post shape); requires non-empty text and replyTo (a t1_/t3_ fullname); media is rejected by the handler",
            "properties": {
              "text": {
                "type": "string"
              },
              "media": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "url"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "altText": {
                      "type": "string"
                    }
                  }
                }
              },
              "replyTo": {
                "type": "string",
                "description": "The t1_/t3_ fullname being replied to"
              }
            }
          }
        ]
      },
      "IntegrationActionResult": {
        "type": "object",
        "required": [
          "ok",
          "status",
          "actionLogId",
          "externalId",
          "deduped"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "true when status is ok"
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "actionLogId": {
            "type": "string",
            "description": "The integration_action_logs row id"
          },
          "externalId": {
            "type": "string",
            "nullable": true,
            "description": "Provider-side id produced, if any"
          },
          "deduped": {
            "type": "boolean",
            "description": "true when an Idempotency-Key replay returned a prior row"
          },
          "error": {
            "type": "string",
            "description": "Failure message when status is error"
          }
        }
      },
      "PublicInvitationRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "ecosystem": {
            "type": "string",
            "description": "Target ecosystem address (rdid or uuid). Absent = the hub. Unknown/deleted → 404."
          }
        }
      },
      "InviteVerifyRequest": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "InviteVerifyResult": {
        "type": "object",
        "required": [
          "ok",
          "ecosystemName"
        ],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "ecosystemName": {
            "type": "string"
          }
        }
      },
      "InvitePreview": {
        "type": "object",
        "required": [
          "state"
        ],
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "valid",
              "expired",
              "accepted",
              "invalid"
            ]
          },
          "ecosystemName": {
            "type": [
              "string",
              "null"
            ]
          },
          "maskedDestination": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "InviteAcceptRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "InviteAcceptResult": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted",
              "verification_required"
            ]
          },
          "ecosystemName": {
            "type": "string"
          }
        }
      },
      "EcoManagedRow": {
        "type": "object",
        "additionalProperties": true,
        "description": "A row from the ecosystem-scoped invitation surface (pending user, invitation, invitation request, admin note, or history entry). Intentionally open — the shape mirrors the admin routes 1:1, so no fixed property schema is repeated here."
      },
      "EcoManagedRowList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/EcoManagedRow"
        }
      },
      "EcoAddPendingUsersBody": {
        "type": "object",
        "required": [
          "users"
        ],
        "properties": {
          "users": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "maxLength": 255
                },
                "phone": {
                  "type": "string",
                  "maxLength": 32
                },
                "note": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EcoSendInvitesBody": {
        "type": "object",
        "required": [
          "pendingUserIds"
        ],
        "properties": {
          "pendingUserIds": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          "email": {
            "type": "object",
            "properties": {
              "note": {
                "type": "string"
              }
            }
          },
          "sms": {
            "type": "object",
            "properties": {
              "note": {
                "type": "string"
              }
            }
          }
        }
      },
      "EcoNotesReconcileBody": {
        "type": "object",
        "required": [
          "subjectTable",
          "subjectId",
          "notes"
        ],
        "properties": {
          "subjectTable": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "subjectId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 36
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "content"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "maxLength": 36
                },
                "content": {
                  "type": "string",
                  "minLength": 1
                }
              }
            }
          }
        }
      },
      "AuthUserMethod": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "provider",
          "providerId",
          "hasCredential",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "providerId": {
            "type": "string",
            "nullable": true
          },
          "hasCredential": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "AuthMethodSetting": {
        "type": "object",
        "required": [
          "method",
          "enabled"
        ],
        "properties": {
          "method": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "BucketRow": {
        "type": "object",
        "additionalProperties": true,
        "description": "A bucket-table row. Intentionally open — the column set is defined at runtime by the developer-managed table this bucket points at, so no fixed property schema applies."
      },
      "BucketRowList": {
        "type": "object",
        "required": [
          "rows"
        ],
        "properties": {
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketRow"
            }
          }
        }
      },
      "BucketAccessGroup": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "bucketId",
          "name",
          "description",
          "kind",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string",
            "description": "owning ecosystem"
          },
          "bucketId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "description": "'everyone' (seeded) or 'custom'"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupMember": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "accessGroupId",
          "memberType",
          "memberId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "memberType": {
            "type": "string",
            "enum": [
              "user",
              "organization",
              "persona",
              "app",
              "token"
            ]
          },
          "memberId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketGrant": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "accessGroupId",
          "targetType",
          "targetId",
          "crud",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "accessGroupId": {
            "type": "string"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "bucket",
              "bucket_type",
              "row"
            ]
          },
          "targetId": {
            "type": "string"
          },
          "crud": {
            "type": "string",
            "description": "comma-separated CRUD subset, e.g. 'C,R,U,D' or '' (none)"
          },
          "grantedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "BucketAccessGroupDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BucketAccessGroup"
          },
          {
            "type": "object",
            "required": [
              "members",
              "grants"
            ],
            "properties": {
              "members": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketAccessGroupMember"
                }
              },
              "grants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BucketGrant"
                }
              }
            }
          }
        ]
      },
      "BucketAccessGroupList": {
        "type": "object",
        "required": [
          "accessGroups"
        ],
        "properties": {
          "accessGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketAccessGroup"
            }
          }
        }
      },
      "ChatConversation": {
        "type": "object",
        "required": [
          "id",
          "title",
          "model",
          "personaSlug",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "id",
          "role",
          "content",
          "toolName",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "description": "e.g. user, assistant, tool, system"
          },
          "content": {
            "type": "string"
          },
          "toolName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "ChatConversationDetail": {
        "type": "object",
        "required": [
          "conversation",
          "messages"
        ],
        "properties": {
          "conversation": {
            "$ref": "#/components/schemas/ChatConversation"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ChatConversationCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "model": {
            "type": "string"
          },
          "personaSlug": {
            "type": "string"
          }
        }
      },
      "ChatConversationRename": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        }
      },
      "ChatMessageEdit": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string"
          }
        }
      },
      "ChatSendMessage": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "clientMessageId": {
            "type": "string",
            "description": "Idempotency key for the user message"
          }
        }
      },
      "ChatStreamEvent": {
        "description": "One event in the SSE chat stream. The SSE `event:` name carries the discriminator (`open` | `token` | `tool_call_started` | `tool_call_completed` | `done` | `error`); the JSON `data:` payload is one of the shapes below.",
        "oneOf": [
          {
            "title": "ChatTokenEvent",
            "type": "object",
            "description": "token — a chunk of streamed assistant text",
            "required": [
              "text"
            ],
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          {
            "title": "ChatToolCallStartedEvent",
            "type": "object",
            "description": "tool_call_started — the model invoked a tool",
            "required": [
              "name",
              "arguments"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string",
                "description": "JSON-encoded tool arguments"
              }
            }
          },
          {
            "title": "ChatToolCallCompletedEvent",
            "type": "object",
            "description": "tool_call_completed — a tool finished",
            "required": [
              "name",
              "ok",
              "result"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "ok": {
                "type": "boolean"
              },
              "result": {
                "type": "string",
                "description": "JSON-encoded tool result"
              }
            }
          },
          {
            "title": "ChatDoneEvent",
            "type": "object",
            "description": "done — the turn completed (empty payload)"
          },
          {
            "title": "ChatErrorEvent",
            "type": "object",
            "description": "error — the turn failed; the message explains why (HTTP stays 200)",
            "required": [
              "message"
            ],
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CommunicationSettings": {
        "type": "object",
        "required": [
          "dmAudienceMask",
          "presenceAudienceMask",
          "appearOffline"
        ],
        "properties": {
          "dmAudienceMask": {
            "type": "integer",
            "minimum": 0,
            "description": "AUDIENCE bitmask of who may DM the user (0 = nobody; default PUBLIC|HUB = 3)"
          },
          "presenceAudienceMask": {
            "type": "integer",
            "minimum": 0,
            "description": "AUDIENCE bitmask of who may see the user presence (0 = nobody; default PUBLIC|HUB = 3)"
          },
          "appearOffline": {
            "type": "boolean",
            "description": "When true, presence is hidden from EVERYONE regardless of the mask"
          }
        }
      },
      "AppearanceSettings": {
        "type": "object",
        "required": [
          "prefs"
        ],
        "properties": {
          "prefs": {
            "type": "object",
            "properties": {
              "colorMode": {
                "type": "string",
                "enum": [
                  "auto",
                  "light",
                  "dark"
                ],
                "description": "The user's colour scheme; 'auto' follows the operating system"
              },
              "reduceMotion": {
                "type": "string",
                "enum": [
                  "auto",
                  "on",
                  "off"
                ]
              },
              "contrast": {
                "type": "string",
                "enum": [
                  "default",
                  "high",
                  "extra-high"
                ]
              },
              "textSize": {
                "type": "string",
                "enum": [
                  "default",
                  "small",
                  "large",
                  "extra-large"
                ]
              },
              "spacing": {
                "type": "string",
                "enum": [
                  "compact",
                  "comfortable",
                  "spacious"
                ]
              },
              "focusOutlines": {
                "type": "boolean"
              },
              "underlineLinks": {
                "type": "boolean"
              }
            },
            "description": "Empty object when the user has never saved a preference (client defaults apply)"
          }
        }
      },
      "GamificationLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints",
          "sortOrder"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "minPoints": {
            "type": "integer",
            "description": "Inclusive point floor for this rung"
          },
          "sortOrder": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true,
            "description": "NULL = applies to any subject kind"
          }
        }
      },
      "GamificationBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "criteriaType",
          "criteriaThreshold",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "criteriaType": {
            "type": "string"
          },
          "criteriaThreshold": {
            "type": "integer"
          },
          "pointValue": {
            "type": "integer"
          },
          "subjectType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GamificationRealmBadge": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "pointValue"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "statKey": {
            "type": "string",
            "nullable": true,
            "description": "The stat the rule watches"
          },
          "comparator": {
            "type": "string",
            "nullable": true,
            "enum": [
              ">=",
              ">",
              "=",
              null
            ]
          },
          "threshold": {
            "type": "integer",
            "nullable": true
          },
          "badgeLine": {
            "type": "string",
            "nullable": true,
            "description": "Groups the tiers of one line"
          },
          "tier": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "bronze",
              "silver",
              "gold",
              "platinum",
              null
            ]
          },
          "pointValue": {
            "type": "integer",
            "description": "XP granted when earned"
          },
          "hidden": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "subjectType": {
            "type": "string",
            "nullable": true
          },
          "ecosystemId": {
            "type": "string",
            "nullable": true,
            "description": "NULL = platform default; else the realm"
          }
        }
      },
      "GamificationCatalogBadge": {
        "allOf": [
          {
            "$ref": "#/components/schemas/GamificationRealmBadge"
          },
          {
            "type": "object",
            "required": [
              "source"
            ],
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "default",
                  "realm"
                ],
                "description": "'realm' when a realm row shadows the same-slot default"
              }
            }
          }
        ]
      },
      "GamificationCatalogLevel": {
        "type": "object",
        "required": [
          "name",
          "minPoints",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "minPoints": {
            "type": "integer"
          },
          "source": {
            "type": "string",
            "enum": [
              "default",
              "realm"
            ]
          }
        }
      },
      "GamificationCatalog": {
        "type": "object",
        "required": [
          "badges",
          "levels"
        ],
        "properties": {
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationCatalogBadge"
            }
          },
          "levels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationCatalogLevel"
            }
          }
        }
      },
      "GamificationRealmBadgeInput": {
        "type": "object",
        "required": [
          "name",
          "description",
          "icon",
          "statKey",
          "threshold",
          "badgeLine",
          "tier",
          "pointValue"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "statKey": {
            "type": "string"
          },
          "comparator": {
            "type": "string",
            "enum": [
              ">=",
              ">",
              "="
            ],
            "default": ">="
          },
          "threshold": {
            "type": "integer",
            "minimum": 0
          },
          "badgeLine": {
            "type": "string"
          },
          "tier": {
            "type": "string",
            "enum": [
              "none",
              "bronze",
              "silver",
              "gold",
              "platinum"
            ]
          },
          "pointValue": {
            "type": "integer",
            "minimum": 0
          },
          "hidden": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "GamificationRealmLevelsUpdate": {
        "type": "object",
        "required": [
          "levels",
          "replayHint"
        ],
        "properties": {
          "levels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationCatalogLevel"
            }
          },
          "replayHint": {
            "type": "string",
            "description": "The owner may POST /replay to backfill retroactively"
          }
        }
      },
      "GamificationRealmEventType": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "name",
          "statKey"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "The custom event_type key"
          },
          "statKey": {
            "type": "string",
            "description": "The gamification stat this event bumps"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "GamificationRealmEventTypeInput": {
        "type": "object",
        "required": [
          "name",
          "statKey"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Custom event type key (≤64 chars); unique per realm"
          },
          "statKey": {
            "type": "string",
            "description": "The stat this event bumps (≤64 chars)"
          }
        }
      },
      "GamificationCustomEventResult": {
        "type": "object",
        "required": [
          "ingested",
          "statKey",
          "newBadges",
          "xpGained"
        ],
        "properties": {
          "ingested": {
            "type": "boolean",
            "description": "false ⇒ the dedupeKey was already seen (no-op)"
          },
          "statKey": {
            "type": "string"
          },
          "newBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationBadge"
            }
          },
          "xpGained": {
            "type": "integer"
          }
        }
      },
      "GamificationLeaderboardEntry": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "avatarUrl",
          "totalPoints"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Display name (users only)"
          },
          "avatarUrl": {
            "type": "string"
          },
          "totalPoints": {
            "type": "integer"
          },
          "level": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GamificationLeaderboard": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationLeaderboardEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "GamificationSubjectBadge": {
        "type": "object",
        "required": [
          "id",
          "badgeId",
          "name",
          "description",
          "icon",
          "awardedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "badgeId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "awardedAt": {
            "type": "string"
          }
        }
      },
      "GamificationSummary": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "totalPoints",
          "optedOut",
          "badges"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "totalPoints": {
            "type": "integer"
          },
          "level": {
            "type": "string",
            "nullable": true
          },
          "optedOut": {
            "type": "boolean"
          },
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationSubjectBadge"
            }
          }
        }
      },
      "GamificationPoints": {
        "type": "object",
        "required": [
          "id",
          "amount",
          "reason",
          "sourceType",
          "sourceId",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "reason": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "GamificationPointsPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationPoints"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "GamificationAwardResult": {
        "type": "object",
        "required": [
          "awarded",
          "total",
          "newBadges"
        ],
        "properties": {
          "awarded": {
            "type": "boolean",
            "description": "false when the subject has opted out"
          },
          "total": {
            "type": "integer",
            "description": "The subject’s new point total"
          },
          "newBadges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationBadge"
            }
          }
        }
      },
      "GamificationPreference": {
        "type": "object",
        "required": [
          "subjectType",
          "subjectId",
          "optedOut"
        ],
        "properties": {
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "optedOut": {
            "type": "boolean"
          }
        }
      },
      "GamificationReplayResult": {
        "type": "object",
        "required": [
          "subjects",
          "badges"
        ],
        "properties": {
          "subjects": {
            "type": "integer",
            "description": "Subjects touched (1 for a single-subject replay)"
          },
          "badges": {
            "type": "integer",
            "description": "Newly-granted badges across the replayed subject(s)"
          },
          "xpGained": {
            "type": "integer",
            "description": "Points granted — single-subject replay only"
          }
        }
      },
      "GamificationBoardEntry": {
        "type": "object",
        "required": [
          "rank",
          "value",
          "persona"
        ],
        "properties": {
          "rank": {
            "type": "integer",
            "description": "1-based rank among the surviving (public) entries"
          },
          "value": {
            "type": "integer",
            "description": "The window's ranking value: rolling30 → 30-day sum, allTime → all-time total, trending → raw recent-7d sum (the hotness score only orders; it is not returned)."
          },
          "persona": {
            "type": "object",
            "required": [
              "slug",
              "name"
            ],
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "GamificationBoard": {
        "type": "object",
        "required": [
          "statKey",
          "window",
          "entries"
        ],
        "properties": {
          "statKey": {
            "type": "string",
            "enum": [
              "adventures",
              "allies",
              "days_active"
            ]
          },
          "window": {
            "type": "string",
            "enum": [
              "rolling30",
              "allTime",
              "trending",
              "season"
            ]
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GamificationBoardEntry"
            }
          }
        }
      },
      "GamificationSeasons": {
        "type": "object",
        "nullable": true,
        "required": [
          "anchor",
          "lengthDays"
        ],
        "properties": {
          "anchor": {
            "type": "string",
            "description": "Season 0 start day (YYYY-MM-DD, UTC)"
          },
          "lengthDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 366,
            "description": "Days per season"
          }
        }
      },
      "GamificationRealmConfig": {
        "type": "object",
        "required": [
          "ecosystemId",
          "enabled",
          "skin",
          "surfaces",
          "seasons",
          "timezone"
        ],
        "properties": {
          "ecosystemId": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean",
            "description": "false leaves telemetry flowing but suppresses awards/UI"
          },
          "skin": {
            "type": "string",
            "enum": [
              "rpg",
              "plain"
            ]
          },
          "surfaces": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Per-surface toggles; a surface is ON unless set false"
          },
          "seasons": {
            "$ref": "#/components/schemas/GamificationSeasons",
            "description": "Season board window config; null ⇒ seasons off"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone for the realm's day/streak boundary (Night Owl); defaults to 'UTC'"
          }
        }
      },
      "GamificationRealmConfigUpdate": {
        "type": "object",
        "required": [
          "config"
        ],
        "properties": {
          "config": {
            "$ref": "#/components/schemas/GamificationRealmConfig"
          },
          "replayed": {
            "$ref": "#/components/schemas/GamificationReplayResult",
            "description": "Present only when enabling the realm triggered a retroactive replay"
          }
        }
      },
      "CustomerAuthResult": {
        "type": "object",
        "required": [
          "token",
          "refreshToken",
          "customerId"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "End-customer access token (typ='customer' JWT, short-lived)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Opaque customer-session refresh token (single-use; rotated on refresh)"
          },
          "customerId": {
            "type": "string",
            "description": "The end-customer id"
          }
        }
      },
      "CustomerResolveResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The stable ADH customer id for this externalId"
          }
        }
      },
      "CustomerRegisterResult": {
        "type": "object",
        "required": [
          "customerId"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The newly provisioned end-customer id"
          }
        }
      },
      "DiscussionTopic": {
        "type": "object",
        "required": [
          "id",
          "communityId",
          "title",
          "isPinned",
          "isLocked",
          "isPublic",
          "replyCount",
          "lastActivityAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "communityId": {
            "type": "string",
            "description": "The community instance this topic belongs to."
          },
          "customerId": {
            "type": "string",
            "description": "Author (server-stamped principal). Omitted on the public surface."
          },
          "title": {
            "type": "string"
          },
          "categoryId": {
            "type": "string",
            "nullable": true
          },
          "isPinned": {
            "type": "boolean"
          },
          "isLocked": {
            "type": "boolean"
          },
          "isPublic": {
            "type": "boolean"
          },
          "replyCount": {
            "type": "integer"
          },
          "answeredPostId": {
            "type": "string",
            "nullable": true
          },
          "lastActivityAt": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "excerpt": {
            "type": "string",
            "nullable": true,
            "description": "LIST routes only: the opening post’s leading prose, flattened from markdown server-side (≤240 chars; null when its body doc was soft-deleted). Absent on single-topic reads and create/update responses."
          },
          "authorName": {
            "type": "string",
            "nullable": true,
            "description": "Authed COMMUNITY list route only: the author’s display name. Never on the public surface or the flat /discussion/topics list."
          },
          "authorSlug": {
            "type": "string",
            "nullable": true,
            "description": "Authed COMMUNITY list route only: the author’s public handle. Never on the public surface or the flat /discussion/topics list."
          },
          "authorAvatarUrl": {
            "type": "string",
            "nullable": true,
            "description": "Authed COMMUNITY list route only: the author’s avatar URL. Never on the public surface or the flat /discussion/topics list."
          }
        }
      },
      "DiscussionPost": {
        "type": "object",
        "required": [
          "id",
          "topicId",
          "parentPostId",
          "postNumber",
          "bodyDocumentId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "topicId": {
            "type": "string"
          },
          "parentPostId": {
            "type": "string",
            "nullable": true
          },
          "postNumber": {
            "type": "integer"
          },
          "bodyDocumentId": {
            "type": "string",
            "nullable": true,
            "description": "The content.markdown doc backing this post’s body."
          },
          "customerId": {
            "type": "string",
            "description": "Author (server-stamped principal). Omitted on the public surface."
          },
          "ecosystemId": {
            "type": "string",
            "description": "Owning ecosystem (present on create only)."
          },
          "communityId": {
            "type": "string",
            "description": "The community instance (inherited from the topic; present on create only)."
          },
          "content": {
            "type": "string",
            "nullable": true,
            "description": "Resolved markdown body (present on the list routes; null if the body doc was deleted)."
          },
          "isDeleted": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "EcosystemFeatureFlag": {
        "type": "object",
        "required": [
          "key",
          "enabled",
          "description",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "EcosystemServerBagEntry": {
        "type": "object",
        "required": [
          "key",
          "value",
          "description",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "description": "Arbitrary JSON value"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "Community": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name",
          "isPublic"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "Opaque per-instance config bag."
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "PublicCommunity": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name",
          "isPublic"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "CommunityCategory": {
        "type": "object",
        "required": [
          "id",
          "communityId",
          "slug",
          "name",
          "displayOrder",
          "isPublic",
          "isArchived",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "communityId": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "displayOrder": {
            "type": "integer"
          },
          "isPublic": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "discussionCount": {
            "type": "integer",
            "description": "Live discussions filed under this category (public-only for anonymous callers)."
          },
          "lastActivityAt": {
            "type": "string",
            "nullable": true,
            "description": "Most recent activity across the category’s live discussions (null when empty)."
          }
        }
      },
      "CommunityMember": {
        "type": "object",
        "required": [
          "communityId",
          "customerId",
          "role",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "communityId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "description": "owner | admin | moderator | member"
          },
          "bio": {
            "type": "string",
            "nullable": true,
            "description": "The member’s one-line \"what I’m building\" intro for this community."
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "CommunityDirectoryEntry": {
        "type": "object",
        "required": [
          "customerId",
          "role",
          "joinedAt",
          "postCount",
          "activeCategoryIds"
        ],
        "properties": {
          "customerId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "description": "owner | admin | moderator | member"
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "joinedAt": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "postCount": {
            "type": "integer",
            "description": "Live posts by this member in this community."
          },
          "activeCategoryIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Distinct category ids this member has posted in."
          }
        }
      },
      "CommunityProfile": {
        "type": "object",
        "required": [
          "customerId",
          "slug",
          "avatarUrl"
        ],
        "properties": {
          "customerId": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          }
        }
      },
      "StringList": {
        "type": "object",
        "title": "StringList",
        "description": "A wrapper object `{ items: string[] }` (NOT a bare array). Returned by the tag/category facet and autocomplete endpoints.",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The string values."
          }
        }
      },
      "MarkdownDocument": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ecosystemId",
          "ownerKind",
          "ownerId",
          "title",
          "content",
          "contentHash",
          "sizeBytes",
          "currentVersion",
          "tags",
          "visibility",
          "stage",
          "kind",
          "createdAt",
          "updatedAt",
          "isDeleted"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The CREATOR/author (public routes key on this)."
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem (tenant) id."
          },
          "ownerKind": {
            "type": "string",
            "enum": [
              "customer",
              "organization"
            ],
            "description": "The kind of principal that OWNS the doc (what access scopes by)."
          },
          "ownerId": {
            "type": "string",
            "description": "The owning principal (customer or organization id); server-stamped from the verified ?workspace= scope, else the creator."
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Full raw markdown, byte-exact."
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Optional classification label."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tag set (defaults to [])."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "Publication state: 'public' is readable on the public surface, 'private' is a draft."
          },
          "stage": {
            "type": "string",
            "enum": [
              "draft",
              "final"
            ],
            "description": "Editorial stage: 'draft' is editable; 'final' is immutable (content/title edits + version writes are rejected)."
          },
          "kind": {
            "type": "string",
            "enum": [
              "paper",
              "research"
            ],
            "description": "Document kind: 'paper' (ordinary) or 'research' (AI-ingested, carries an adh_source frontmatter key)."
          },
          "publicRoute": {
            "type": "string",
            "nullable": true,
            "description": "Public route slug (non-null iff visibility='public'); unique per author."
          },
          "contentHash": {
            "type": "string",
            "description": "SHA-256 hex of content (ETag)."
          },
          "sizeBytes": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer",
            "description": "The current revision number (incremented on every edit)."
          },
          "latestVersionId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "MarkdownDocumentSummary": {
        "type": "object",
        "required": [
          "id",
          "title",
          "contentHash",
          "sizeBytes",
          "currentVersion",
          "tags",
          "visibility",
          "stage",
          "kind",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          },
          "stage": {
            "type": "string",
            "enum": [
              "draft",
              "final"
            ]
          },
          "kind": {
            "type": "string",
            "enum": [
              "paper",
              "research"
            ]
          },
          "publicRoute": {
            "type": "string",
            "nullable": true
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "currentVersion": {
            "type": "integer"
          },
          "latestVersionId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "MarkdownDocumentVersion": {
        "type": "object",
        "required": [
          "id",
          "documentId",
          "customerId",
          "ecosystemId",
          "ownerKind",
          "ownerId",
          "version",
          "title",
          "content",
          "contentHash",
          "sizeBytes",
          "createdAt",
          "isDeleted"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "documentId": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The revision WRITER."
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ecosystemId": {
            "type": "string"
          },
          "ownerKind": {
            "type": "string",
            "enum": [
              "customer",
              "organization"
            ],
            "description": "Inherited from the head document at write."
          },
          "ownerId": {
            "type": "string",
            "description": "Inherited from the head document at write."
          },
          "version": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "description": "Document title at this revision (full-state snapshot)."
          },
          "content": {
            "type": "string"
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "frontmatter": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "authorType": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string",
            "nullable": true
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "MarkdownDocumentVersionSummary": {
        "type": "object",
        "required": [
          "id",
          "version",
          "title",
          "contentHash",
          "sizeBytes",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "contentHash": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer"
          },
          "authorType": {
            "type": "string",
            "nullable": true
          },
          "authorId": {
            "type": "string",
            "nullable": true
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "MessagingLogEntry": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "ecosystemId",
          "channel",
          "recipient",
          "body",
          "status",
          "origin",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Target user (recipient) id"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true
          },
          "ecosystemId": {
            "type": "string",
            "description": "Ecosystem (tenant) id"
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ]
          },
          "recipient": {
            "type": "string",
            "description": "Resolved destination (email address or phone)"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ],
            "description": "Send outcome"
          },
          "providerId": {
            "type": "string",
            "nullable": true,
            "description": "Provider message id (when sent)"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "sentBy": {
            "type": "string",
            "nullable": true,
            "description": "Admin user id who issued the send"
          },
          "origin": {
            "type": "string",
            "enum": [
              "platform",
              "ecosystem"
            ],
            "description": "Sending surface: 'ecosystem' = the per-ecosystem Messaging tool; 'platform' = automated/system send (only the admin log shows these)"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "MessagingLogPage": {
        "type": "object",
        "required": [
          "items",
          "total",
          "page",
          "pageSize"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessagingLogEntry"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          }
        }
      },
      "MessagingTemplate": {
        "type": "object",
        "required": [
          "id",
          "name",
          "subject",
          "htmlBody",
          "textBody",
          "category"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "htmlBody": {
            "type": "string"
          },
          "textBody": {
            "type": "string"
          },
          "smsBody": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "MessagingStatus": {
        "type": "object",
        "required": [
          "email",
          "sms"
        ],
        "properties": {
          "email": {
            "type": "boolean",
            "description": "Postmark configured + enabled"
          },
          "sms": {
            "type": "boolean",
            "description": "Twilio configured + enabled"
          }
        }
      },
      "MessagingSendResult": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "failed"
            ]
          },
          "providerId": {
            "type": "string",
            "description": "Provider message id (on success)"
          },
          "error": {
            "type": "string",
            "description": "Failure reason (on failure)"
          }
        }
      },
      "Notification": {
        "type": "object",
        "required": [
          "id",
          "ecosystemId",
          "userId",
          "category",
          "title",
          "data",
          "status",
          "isRead",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "ecosystemId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "actorId": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string"
          },
          "entityKind": {
            "type": "string",
            "nullable": true
          },
          "entityId": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "enum": [
              "inbox",
              "archived",
              "trashed"
            ]
          },
          "isRead": {
            "type": "boolean"
          },
          "dedupeKey": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "readAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "NotificationPreference": {
        "type": "object",
        "required": [
          "category",
          "email",
          "sms"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "account",
              "community_reply",
              "community_mention",
              "admin_announcement",
              "direct_message"
            ]
          },
          "email": {
[...]
